
body{
    background: pink;
    
}
.navbar-custom{           /*to customize the navbar*/
    font-weight: bold;
    font-family: 'Comic Neue', cursive;
}

.nested{
    display: block;
    flex-direction:column;
    }

.card-padding{                   /*top padding for the card*/
    padding-top: 50px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 25%;
    padding-left:25%;
    
}

#divBackground{
    background:rgba(243, 179, 190, 0.87);
}

footer{
    font-style: italic;
    padding-left: 10px;
    padding-top: 100px;
}

@media (min-width:850px){
    
    
    .nested{
        display: flex;
        flex-direction: row;
    }
}