body{
    background: pink;
    
}
.header{
   
    text-align: center;
}

article{
    text-align: left;
    padding-left: 200px;
    padding-top: 100px;
    padding-right: 200px;
}
article:first-child{
    background-color:rgba(243, 179, 190, 0.87);
    font-style: italic;
}
footer{
    font-style: italic;
    padding-left: 10px;
    padding-top: 100px;
}